


:root {
  --light-primary: #13a5de;
  --gray: rgba(255, 255, 255, 0.2);
}

html,
body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.border-0 {
  border: 0 !important;
}

.sidebar{
  .sidebar-wrapper{
    li.active{
      > a:not([data-toggle="collapse"]),
      > [data-toggle="collapse"] + div .nav li {
        &:before{
          border-right: 17px solid #f8f9fa;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          content: "";
          display: inline-block;
          position: absolute;
          right: -16px;
          opacity: 1;
          top: 7px;
          transition: opacity 150ms ease-in;
        }

        &:after{
          border-right: 17px solid #f8f9fa;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          content: "";
          display: inline-block;
          position: absolute;
          right: -17px;
          opacity: 1;
          top: 7px;
          transition: opacity 150ms ease-in;
        }
      }
      >[data-toggle="collapse"] + div .nav li {
        a{
          &:before,
          &:after {
            top: 0;
          }
        }
      }
    }
  }
}

.LoginWrapper {
  background: #35495e;
  color: #333333;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  padding-top: 10%;
  margin: auto;
}

.LoginWrapper .container {
  height: 100%;
  padding-bottom: 0;
  padding-top: 6rem;
  position: relative;
}

.section-lg {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.form-control:focus {
  &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
    color: #adb5bd;
  }
}

.input-group {
  -webkit-transition: all .15s ease;
  border-radius: .25rem;
  transition: all 0.15s ease;
  .form-control:focus {
    box-shadow: none;
  }
}

.input-group-text {
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-group-alternative {
  -webkit-box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  -webkit-transition: -webkit-box-shadow .15s ease;
  border: 0;
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.15s ease;
  .form-control, .input-group-text {
    -webkit-box-shadow: none;
    border: 0;
    box-shadow: none;
  }
  .input-group-prepend .input-group-text {
    padding: 10px;
  }
}

@media (min-width: 992px) {
.py-lg-5 {
  padding-top: 3rem !important;
}
.px-lg-5 {
  padding-right: 3rem !important;
}
.py-lg-5 {
  padding-bottom: 3rem !important;
}
.px-lg-5 {
  padding-left: 3rem !important;
}
.pt-lg-md {
  padding-top: 4rem !important;
}
}

ul.nav.sticky-bottom {
  bottom: 0;
  position: fixed;
  width: 259px;
  margin: 0;
  padding: 8px 0;
  background-color: #35495e;
}

ul.nav.sticky-bottom:before {
  background-color: hsla(0,0%,100%,.5);
  top: 0;
  content: "";
  height: 1px;
  position: absolute;
  right: 15px;
  width: calc(100% - 30px);
}

.wrapper .sidebar[data-background-color=darkblues] #style-3::-webkit-scrollbar {
  width: 0;
  background-color: #35495e;
}

.heart {
  animation: hearthing 1s ease infinite;
  color: #dc3545;
  font-size: 18px;
}

@keyframes hearthing {
  0% {
      transform: scale(.75)
  }

  20% {
      transform: scale(1)
  }

  40% {
      transform: scale(.75)
  }

  60% {
      transform: scale(1)
  }

  80% {
      transform: scale(.75)
  }

  to {
      transform: scale(.75)
  }
}

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}