


:root {
  --light-primary: #13a5de;
  --darkblue: #35495e;
  --gray: rgba(255, 255, 255, 0.2);
}

html,
body
{
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

.wrapper .sidebar[data-background-color=darkblues]:after, .wrapper .sidebar[data-background-color=darkblues]:before {
  background: var(--darkblue);
}

.sidebar{
  .sidebar-wrapper{
    li.active{
      > a:not([data-toggle="collapse"]),
      > [data-toggle="collapse"] + div .nav li {
        &:before{
          border-right: 17px solid $medium-gray;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          content: "";
          display: inline-block;
          position: absolute;
          right: -16px;
          opacity: 1;
          top: 7px;
          transition: opacity 150ms ease-in;
        }

        &:after{
          border-right: 17px solid $default-body-bg;
          border-top: 17px solid transparent;
          border-bottom: 17px solid transparent;
          content: "";
          display: inline-block;
          position: absolute;
          right: -17px;
          opacity: 1;
          top: 7px;
          transition: opacity 150ms ease-in;
        }
      }
      >[data-toggle="collapse"] + div .nav li {
        a{
          &:before,
          &:after {
            top: 0;
          }
        }
      }
    }
  }
}


.LoginWrapper {
  background: #35495e;
  color: #333333;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 19.38px;
  margin: auto;
} 

.page-enter-active, .page-leave-active
{
  transition: opacity .5s
}
.page-enter, .page-leave-active
{
  opacity: 0
}